.landing-left-panel h1.title {margin: 0; }

.landing-left-panel h1.title a, .landing-left-panel h2.title a, /* titulo de post en landing */
.col-md-8 .listing-item a.title {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a3a3a3;
  padding: 20px 10px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  line-height: 20px;
}

.landing-left-panel h1.title a,.landing-left-panel h2.title a {
  padding: 10px;
}

.landing-left-panel .excerpt.resumen-post,
.display-posts-listing .listing-item p.excerpt.resumen-post {
  padding: 20px 10px;
  background: #f3f3f3;
  color: #3e3e3e;
  border: solid 1px #ddd;
  min-height: 200px;
}

.landing-left-panel .att { margin-top: 0; position: relative;}

.att {
  position: relative;
  clear: both;
  height: 60px;
  margin-bottom: 20px;
}

/* ========= Producto ========== */
.sharebe {
  float: left;
  min-width: 50%;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
  color: #666;
  height: 60px;
}

.att {
  margin-top: -10px;
}

.sharebe p {
  float: left;
  max-width: 50%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}

.single-article .favoritos{
  position: absolute !important;
  right: 0;
  bottom: -62px;
}

.shareaholic-canvas {
  clear: right !important;
  padding-top: 5px;
}
.compraWrap{
  float: right;
  width: 50%;
  position: relative;
  margin: 0 0px 20px 30px;
}
.compraWrap .attached-product{
  max-width: 100%;
  width: 100%;
}
.compraWrap .imagen_product_post{
  top: -50px;
  left: -20px;
}

/* ===================================================================
ARCHIVE PAGE
====================================================================== */

.page-template-page-fullwidth-php .main,
#pageheader {
  padding-top: 50px;
}

.page-template-page-fullwidth-php .col-md-8 .display-posts-listing .listing-item { padding-bottom: 50.5px; }


@media (max-width : 1024px) {
  .compraWrap{
    float: none;
    width: 100%;
    position: relative;
    margin: 0 0 20px;
    clear: both;
  }
  .compraWrap:after, .compraWrap:before{
    content: "";
    display: table;
  }
  .compraWrap:after{
    clear: both;
  }
  .compraWrap .imagen_product_post{
    left: 5px;
    top: -40px;
  }
  .compraWrap .imagen_product_post img{
    width: 38px !important;
  }
  .compraWrap .attached-product{
    height: auto;
    padding-bottom: 10px;
  }
  .ssba_twitter_share img, .ssba_facebook_share img{ border: none !important; }
}





/* favoritos ====================== */
.favoritos{
  width: 180px;
  float: right;
  margin-top: -41px;
  height: 40px;
}

.favoritos img.wpfp-img {
  padding-left: 4px;
  vertical-align:top;
}
section.postfeat {
  border: solid 1px #ddd;
  border-bottom: none;
  position: relative;
}

.postfeat .sharebe {
  width: 100%;
  border-right: solid 1px #ddd;
}

/* =============== comprar ========== */
.attached-product {
  position: relative;
  max-width: 50%;
  float: left;
  background-color: #b8001f;
  min-width: 50%;
  height: 60px;
  color: white;
}

.attached-product .comprar a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 150px;
  left: -24px;
  top: -57px;
  z-index: 5;
}

.preparalo {
  float: left;
  max-width: 50%;
  padding-left: 10px;
  margin-left: 28px;
  position: absolute;
  top: 49%;
  transform: translateY(-51%);
}
.preparalo .titulo_producto {line-height: 16px;}

.preparalo h3 {
  text-transform: uppercase;
  line-height: 15px;
  font-weight: 800;
  font-size: 15px;
  color: white;
}

.preparalo p {
  line-height: 24px;
  height: 14px;
}

.attached-product .comprar {
  width: 38%;
  float: right;
  padding-top: 10px;
  text-align: center;
}

.comprar a {
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid white;

  line-height: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: white;
}

/* ===================================================================
INTERNA ARTICULO
====================================================================== */
body.single-post .contentclass .single-article .col-sm-8,
body.single-post .contentclass .related-sidebar.col-sm-4 { margin-top: 0px; }

.single-post .producto-head {
  position: relative;
  width: 100%;
  height: 386px;
  padding-top: 42px;
  background: url('Imagenes/fondo_slide.jpg') no-repeat;
  background-position: center bottom;
  background-size: 100%;
  display: none;
}

.single-post .related-sidebar.col-sm-4 {
  -webkit-transform: translate(0,-61px);
  -moz-transform: translate(0,-61px);
  -ms-transform: translate(0,-61px);
  -o-transform: translate(0,-61px);
  transform: translate(0,-61px);
}

.single-post .el-titulo {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.single-post .el-titulo h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}

/*fin*/

@media (min-width : 1025px) {
  .imagen_product_post{
    right: 46%;
    top: -80%;
  }
}


.imagen_product_post{
  position: absolute;
  border:none;
  z-index: 2;
}
.imagen_product_post img{
  border:none !important;
  width: 53px !important;
  height: auto !important;
}

div.title-product {
  text-indent: 3px;
  text-align: left;
  padding-left: 20px;
}
/*unicos tablet*/
.homepagecontent{
  @media (max-width : 1024px) {
    .col-sm-8{
      width: auto;
    }
    .col-sm-4{
      width: auto;
      float: none;
    }
  }
}


/*unicos moviles*/
@media (max-width : 1024px) {
  .att{
    border-bottom: solid 1px #DDD;
    border-top:solid 1px #DDD;
    height: auto;
  }
  .col-sm-4.landing-right-panel{
    clear: both;
  }
  .homecontent .att:after, .homecontent .att:before{
    content: " ";
    display: table;
  }
  .homecontent .att:after{
    clear: both;
  }
  .att .attached-product{
    max-width: 100%;
    width: 100%;
    margin: 0;
    float: none;
    padding-bottom: 10px;
    height: auto;
  }
  .preparalo{
    max-width: 52%;
    width: 52%;
    padding-left: 15% !important;
    margin-left: 0 !important;
  }
  .sharebe { 
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .sharebe p{
    height: auto;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0px;
    line-height: 40px;
  }
  .attached-product .comprar{
    width: auto;
  }
  .att .attached-product:after, .att .attached-product:before{
    content: " ";
    display: table;
  }
  .att .attached-product:after{
    clear: both;
  }
  .attached-product .comprar{
    margin-right: 5px;
  }
  .row .imagen_product_post{
    position: absolute;
    left: 0;
    bottom: 0px;
  }
  .row .imagen_product_post img{
    width: 45px !important;
  }

  .att .sharebe{
    float: none;
    height: 40px;
    border-right: solid 1px #ddd;
    padding-left: 15px;
  }

  .sharebe p{
    font-size: 20px;
    text-transform: uppercase;
  }

  .single-post .el-titulo h1 {
    font-size: 21px;
    line-height: 24px;
  }

  .single-post .favoritos { display: none; }

  .single-post .sharebe { height: 40px; padding-left: 15px;}

  .single-post .sharebe p {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  .single-post .entry-content { margin-top: 30px; }
  .sharebe p{ margin-left: 15% !important; }
}

/* solo para tablet*/
@media (min-width : 767px) and (max-width : 1024px) {
  .preparalo{ padding-left: 10% !important; }
  .sharebe p{
    height: auto;
    margin-left: 10% !important;
  }
  .row .imagen_product_post{
    left: 10px;
    img{
      width: 60px !important;
    }
  }
  .single-article .postfeat .compraWrap .imagen_product_post{
    margin-top: -60px;
  }
}
