.woocommerce-breadcrumb{text-transform: uppercase; color: #727272; font-weight: 600;}
.woocommerce-breadcrumb a,
.woocommerce-breadcrumb a:hover { color: black; }

.home .breadcrumbs { display: none; visibility: hidden; }

.breadcrumbs { clear: both; height: 25px; }

.bc-contenedor,.bc-contenedor h1 {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #727272;
}

.bc-contenedor h1 {
    float:none;
}



.bc-contenedor a { padding: 0 5px;}

.bc-contenedor a,
.bc-contenedor a:hover { color: black; }

.bc-contenedor > span > span {
    padding-left: 5px;
}

@media (max-width : 1024px) {

 	.woocommerce-breadcrumb, .breadcrumbs .bc-contenedor {
        font-size: 10px;
        margin: 0px 0px 20px;
        padding: 0 15px;
        height: 25px;
    }
  

}
