/** One PAGE CHECKOUT **/
.wcopc {
    position: relative;
    overflow:hidden;
    width:100%;padding:0;margin:0;
}

/**
* Mensajes
------------------------------------------------------------- */
.woocommerce-checkout .woocommerce-message,
.woocommerce-checkout .woocommerce-error {
    /*position: absolute;*/
    /*top: -29px;*/
    /*left: 50%;
    -webkit-transform: scale(0.8) translate(-50%,0);
    -moz-transform: scale(0.8) translate(-50%,0);
    -ms-transform: scale(0.8) translate(-50%,0);
    transform: scale(0.8) translate(-50%,0);*/
    box-shadow: 0 0 25px rgba(0,0,0,.75);
    background: white;
    z-index: 100;

    &::after {
        content: 'x';
        position: absolute;
        display: block;
        right: 10px;
        top: 0;
        z-index: 2;
    }
}

body.mobile.woocommerce-checkout .woocommerce-message,
body.mobile.woocommerce-checkout .woocommerce-error {
    position: absolute;
    width: 100%;
    top: -38px;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-transform: scale(0.8) translate(0,0);
    -moz-transform: scale(0.8) translate(0,0);
    -ms-transform: scale(0.8) translate(0,0);
    transform: scale(0.8) translate(0,0);
}

body.mobile.woocommerce-checkout .woocommerce-message div.woocommerce-message-left,
body.mobile.woocommerce-checkout .woocommerce-error li {
    line-height: 20px;
}

body.mobile.woocommerce-checkout .woocommerce-message::before,
body.mobile.woocommerce-checkout .woocommerce-error::before {
    top: -12px;
}

/**
* Billing & shipping
------------------------------------------------------------- */
body.woocommerce-checkout .woocommerce-shipping-fields {
    padding-top: 20px;
}

/**
* Order review
------------------------------------------------------------- */
#order_review { background-color: #f9fbfb; }

.woocommerce-page .shop_table thead {
    background-color: @rojo;
    //text properties
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}

.woocommerce-page .shop_table thead tr { height: 50px; }
.woocommerce-page .shop_table .rp_wcdpd_cart_price ins {display: none;}

.woocommerce-page tbody tr.order-total,
.woocommerce tfoot tr.order-total {
    text-transform: uppercase;
    font-size: 18px;
    color: #c00014;
}
.woocommerce tfoot tr.order-total th { font-weight: 800; }

.woocommerce tfoot tr.shipping {
    span, td {
        font-weight: normal;
    }

    span.condiciones-entrega.checkout {
        font-weight: 800;
    }
}

/**
* Cart
------------------------------------------------------------- */
.woocommerce-cart table.shop_table { border: none; }

.woocommerce-cart .shop_table tbody td.product-remove {
    border-left: 1px solid #dfdbdf;
    border-color: rgba(0,0,0,.07);
}

.woocommerce-cart .shop_table tbody td.product-subtotal {
    border-right: 1px solid #dfdbdf;
    border-color: rgba(0,0,0,.07);
}

/**
* Checkout
------------------------------------------------------------- */
.woocommerce #payment {
    border: none;
}

.woocommerce .cart_item td,
.woocommerce tfoot td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.woocommerce .cart_item.con_descuento td {
    color :#b8001f;
}


.form-row.menores {
    padding-bottom: 25px;
    font-weight: 800 !important;
    font-size: 17px;
    color: #b8001f;
}

.payment_box {
    display: block !important;
}

/* modificar pedido
---------------------------------------------------------- */
.btn-editar-pedido {
    text-align: center;
    padding-bottom: 30px;
}

.btn-editar-pedido a {
    background: #B8001F;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: white;
}
/* cupones */

.woocommerce form.checkout table.shop_table {
    margin-bottom: 80px;
}

form.checkout_coupons {
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    bottom:390px;
    width: 100%;
    max-width: 525px;
    right: 15px;
    -webkit-transform: translate(0,100%);
    -moz-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    opacity: 1;
    z-index: 10;
}

.woocommerce form.checkout_coupons .form-row {
    float: left;
}

.woocommerce form.checkout_coupons .form-row-first { width: 60%; }
.woocommerce form.checkout_coupons .form-row-last { width: 40%; }

.woocommerce form.checkout_coupons .form-row input[type="submit"] {
    width: 100%;
    margin-top: 0;
}

form.checkout_coupons input.input-text {
    padding: 14px;
}

form.checkout_coupons .mensaje-cupon {
    position: absolute;
}

/* ===================================================================
Checkout
====================================================================== */
.woocommerce-checkout .wc-checkout-left-panel,
.woocommerce-checkout .wc-checkout-right-panel {
    float: left;
    width: 50%;
}

.woocommerce-checkout .wc-checkout-left-panel { padding-right: 30px; }

.woocommerce-checkout .login-form-checkout-registro { display: none; }

.shop_table .product-name { width: 70%; }

.woocommerce-checkout h3 {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

.wc-checkout-left-panel .cleanlogin-container {
    max-width: none;
}

.woocommerce-checkout-review-order-table tr.cart_item.opc_cart_item .product-details{
    max-width: 70%;
    .item-title{
        padding-left: 10px;
    }
}




/* informacion adicional
---------------------------------------------------------- */
#order_comments_field {
    padding: 25px 25px 40px;
    background-color: #f9fbfb;
}

#order_comments_field label { font-weight: 400; color: #535353; }


.optin-order-review {padding: 0 15px;}
.optin-order-review span {
    font-weight: 700;
}

#payment .methods label {
    font-size: 18px;
    color: black;
}

#payment .terms {
    //display: none;
    //visibility: hidden;
    padding-bottom: 10px;
}
#payment .terms label { display: inline; }

#payment div.payment_box { background-color: #eaf3f3; }
#payment div.payment_box:after { border-bottom-color: #eaf3f3; }

/*FIN*/
/* ===================================================================
unicos desktop
====================================================================== */
@media (min-width : 1025px) {
    /* Tienda, grid
    ---------------------------------------------------- */
    .shopfullwidth .kad_product {
        height: 450px;
        padding-left: 0;
        padding-right: 0;
    }
    /* Tienda, grupo imagen
    ---------------------------------------------------- */
    .woocommerce-page #product_wrapper .kad_product .grupo-img-cart {
        height: 334px;
    }
    /* Tienda, grupo texto
    ---------------------------------------------------- */
    .product_details { margin-top: 15px; }


    /* single product
    ---------------------------------------------------- */
    .single-product .product-img-case { max-height: 380px; }

    .single-product .shopfullwidth .kad_product { height: 530px; }

    .single-product #product_wrapper .kad_product .grupo-img-cart { height: 400px; }

    /* social
    ---------------------------------------------------- */
    .sharebe div.ssba {
        float: left;
        width: 150px;
        padding-top: 7px;
        padding-left: 8px;
    }

    .sharebe div.ssba img {
        width: 45px !important;
        height: auto !important;
        border: none !important;
    }
}


@media (max-width : 1024px) {

    /* ------------------------------------------------
    CUPONES
    ------------------------------------------------ */
    .woocommerce form.checkout table.shop_table {
        margin-bottom: 80px;
    }

    form.checkout_coupons {
        right: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        bottom:423px;
    }
    .woocommerce form.checkout_coupons input[type="submit"] {
        padding-left: 0;
        padding-right: 0;
    }

    .mensaje-cupon {
        left: 15px;
        right: 15px;
        font-size: 12px;
        line-height: 15px;
    }


    .woocommerce-checkout .wc-checkout-left-panel,
    .woocommerce-checkout .wc-checkout-right-panel {
        float: none;
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .woocommerce-checkout .wc-checkout-left-panel .formulario-registro-login {
        padding-left: 15px;
        padding-right: 15px;
    }

    #login_button,
    #register_button { float: none; }

    .cleanlogin-form-bottom { height: auto; text-align: center; }

    .woocommerce .checkout tfoot tr.order-total { font-size: 16px; }
    #payment .methods label { font-size: 14px; }

    #payment .terms,
    #payment .derechos {
        font-size: 12px;
    }

    .form-row.menores {
        font-size: 14px;
    }
}

/* ------------------------------------------------
Mobile
------------------------------------------------ */
@media (max-width : 768px) {
    /**
    * Order review
    ------------------------------------------------------------- */
    .woocommerce-page .shop_table thead {
        //text properties
        font-size: 14px;

        // Ocultamos "cantidad" de la tabla
        .product-quantity {
            display: none;
            visibility: hidden;
        }
    }

    .woocommerce tfoot tr.shipping {
        font-size: 10px;
    }

    .woocommerce-checkout .opc_order_review .product-quantity {
        float: none;
    }

    body.mobile.woocommerce-checkout .woocommerce-message,
    body.mobile.woocommerce-checkout .woocommerce-error {
        top: 0 !important;
        z-index: 100;
    }
}

//oferta
.checkout {
    #header_checkout_oferta {
        position: relative;
        h2  {        
            font-weight: 800 !important;
            font-size: 17px;
            color: #b8001f;
            text-transform: uppercase;
            cursor: pointer; 
        }
        > span {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            cursor: pointer;
            &:after {
                content: '';
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: transparent #b8001f #b8001f transparent;
                width: 20px;
                height: 20px;
                display: inline-block;
            }
        }
    }

    #content_checkout_oferta {
        text-align: center;
        .cross-sells {
            #product_wrapper {
                margin: 0;
                .kad_product {
                    width: 250px;
                    height: initial;
                    margin: auto;
                    .grupo-img-cart {
                        height: 100%;
                        &:after {
                            display: none;
                        }
                        .product_item_link {
                            height: 190px;
                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                    }
                    .product_details {
                        margin-bottom: .75rem;
                    }
                    .buy {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(50% - 3px);
                        a {
                            position: static;
                            margin: 0 !important;
                            width: initial;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            background-color: #c10021;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 13px;
                            color: white;
                        }
                    }
                    .cerrar-popup {
                        display: none;
                    }
                }
            }
        }
    }
}