footer#containerfooter{
  background: #b8001f !important;
  position: relative; 
}
#containerfooter h3{
  color:white;
}
#containerfooter > .container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top:30px;
}
.footercol1{
  width:75%;
}
.footercol2{
  width:25%;
}
#containerfooter .menu li a {
  max-width:200px;
}

/* enlaces*/
.footernav ul li a{
  padding: 5px;
  max-width: 200px;
  margin-bottom: 5px;
  display: block;
  color:#fff;
  background: rgba(0,0,0,.1);
  font-size: 14px;
}
.footernav ul li a:hover{
  color: #fff;
  background: #800116;
}
.tags{
  clear: both;
  padding-top: 20px;
}
.footerclass li{
  float: left;
  min-width: 225px;
}
#containerfooter .menu li a{
  padding: 5px;
}

.footercredits.clearfix {
  text-align: center;
  color: white;
  font-size: 12px;
}

.footerclass .footer-widget a {
  color: white;
}

.footerclass li {
  list-style: none;
  margin-left: -19px;
}


/* ===Footer Credits=== */
.footercredits {
  width: 100%;
  text-align: center;
  /*background: rgba(0,0,0,0.7);*/
  color: white;
  margin: 0;
  padding-bottom: 30px;

}
.footercredits p {
  width: 100%;
  display: inline-block;
  background: rgba(0,0,0,0.7);
  padding: 30px 15px;
}
.footercredits .footernav { float: none; }
.footercredits .footernav ul {
  padding-left: 0;
  float: none;
  margin: 0px 0 0 20px;
}
.footercredits .footernav ul li {
  float: none;
  display: inline-block;
  min-width: 225px;
}

.footercredits .container{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.postfooter{
  height: 30px;
  width: 100%;
  position: absolute;
  background: black;
  bottom: 0;
}
/* links colors */

a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover, .woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .kad-menu-name, .nav-trigger-case:hover .kad-navbtn, #kadbreadcrumbs a:hover, #wp-calendar a {
  color: #474747;
}
.woocommerce-message:before, .woocommerce-info:before{
  color: green;
}
.widget_price_filter .ui-slider .ui-slider-handle, .product_item .kad_add_to_cart:hover, .product_item:hover .kad_add_to_cart:hover, .kad-btn-primary, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a, .product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit, .yith-wcan .yith-wcan-reset-navigation, #containerfooter .menu li a:hover, .bg_primary, .portfolionav a:hover, .home-iconmenu a:hover, p.demo_store, .topclass, #commentform .form-submit #submit, .kad-hover-bg-primary:hover, .widget_shopping_cart_content .checkout, .login .form-row .button, .kad-post-navigation .kad-previous-link a:hover, .kad-post-navigation .kad-next-link a:hover, .variations .kad_radio_variations label.selectedValue, #payment #place_order, .checkout-button, input[type="submit"].button, .order-actions .button,
.page-template-page-contact-php .button {
  background: #800116;
}
.page-template-page-contact-php input.wpcf7-submit:hover { opacity: 0.9; background: #800116; }
.page-template-page-contact-php .button { color: white; }

.contactenos label { display: inline; font-weight: normal; }

/* Boton cupon */
#payment input[type="submit"].button,
.woocommerce-page input[type="submit"] {
  background-color: rgba(184, 0, 31, 1);
}

/* link eliminar */
a.wpfp-link.remove-parent { color: #b8001f; }

.btn.btn-danger { background-color: #b8001f; }

.wrap.contentclass { padding-top: 0; }
.wrap.contentclass .page-header h1 { margin-top: 0px; }

/*header.banner.headerclass,
.wrap.contentclass*/.overllayy{
  filter: blur(10px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.footer-edad p{
  text-align: center;
  padding: 20px 0px;
  color: white;
}
.footer-edad p a{
  color: white;
  font-weight: bold;
}
#containerfooter{
  padding-top: 0px;
}

/*=======================
=========TABLETS========*/
@media (max-width: 1024px){
  .footernav{
    width: 100%;
  }

}

/*========================
==========CELULARES=======*/
@media (max-width : 1024px) {

  #containerfooter .container > .row,
  .footercredits p{
    width: 100%;
  }
  .postfooter{
    display: none;
  }
  .footerclass li{
    float: none;
    min-width: 100%;
  }
  #containerfooter .menu li a{
    max-width: 100%;
    padding: 5px;
  }
  .footercol1{
    width: 100%;
  }
  .footercredits{
    padding: 0px;
  }
  .footercol2{
    float: right;
  }
  #widget_kadence_social-2{
    margin-top: 0px;
  }
  #containerfooter .virtue_social_widget a{
    float: none;
    display: inline-block;
  }
  .footercredits .footernav ul li{
    min-width: 100%;
  }
  .footercredits .footernav ul li a{
    min-width: 100%;
  }
  .single-footer {
    border-bottom:none;
  }
}
/*btn social footer*/
.virtue_social_widget a i {
  left: 0;
}
