/**
* input de cantidad
* Sobre escribiendo clase por defecto
*/
.woocommerce .quantity input.qty {
    border: 1px solid #c6c6c6 !important;
}

/* Home: formulario de registro,
letra mas pequeña para no dañar el diseño
-------------------------------------------------------------------------- */
.home .mensajeantes {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 16px;
}

.home .cleanlogin-full-width.cleanlogin-container {
    margin-bottom: 20px;
    padding: 10px 20px;
}

.home .cleanlogin-full-width.cleanlogin-container form .cleanlogin-field {
    margin-bottom: 5px;
}

.home .cleanlogin-full-width.cleanlogin-container label {
    padding-bottom: 0;
    font-size: 12px;
}

.home .cleanlogin-container #register_genero {
    font-size: 10px;
}

.home .cleanlogin-container #register_genero label {
    display: inline-block;
    padding-right: 5px;
}

.home .cleanlogin-container #register_genero br {
    display: none;
    visibility: hidden;
}

.home .cleanlogin-container #register_genero input {
    margin-left: 10px;
}

.home .cleanlogin-container input[type="text"],
.home .cleanlogin-container input[type="password"],
.home .cleanlogin-container input[type="email"] {
    height: 30px;
}

.home #register_password1,
.home #register_password2 { width: 49%; }

.home #register_password1 input,
.home #register_password2 input { font-size: 11px; }

.home #register_password1 { float: left; }
.home #register_password2 { float: right; }

.home .cleanlogin-full-width #register_terminos,
.home .cleanlogin-full-width #register_derechos,
.home .cleanlogin-full-width #register_terminos label,
.home .cleanlogin-full-width #register_derechos label {
    font-size: 10px;
    line-height: 12px;
}

.home .cleanlogin-full-width #register_terminos {
    clear: both;
}

.home .cleanlogin-full-width .checkbox { font-size: 10px; }
