body header.banner{
    padding-bottom: 27px;
    position: relative;
    background: rgb(192,0,32); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(192,0,32,1) 0%, rgba(176,0,29,1) 46%, rgba(192,0,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,0,32,1)), color-stop(46%,rgba(176,0,29,1)), color-stop(100%,rgba(192,0,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(192,0,32,1) 0%,rgba(176,0,29,1) 46%,rgba(192,0,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(192,0,32,1) 0%,rgba(176,0,29,1) 46%,rgba(192,0,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(192,0,32,1) 0%,rgba(176,0,29,1) 46%,rgba(192,0,32,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(192,0,32,1) 0%,rgba(176,0,29,1) 46%,rgba(192,0,32,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00020', endColorstr='#c00020',GradientType=0 ); /* IE6-9 */
}

body header.banner:before{
    content: url('Imagenes/linea-header.png');
    /*background-image: url('Imagenes/linea_header.png');*/
    width: 100%;
    position: absolute;
   bottom: 0px;
    left: 0px;
    overflow: hidden;
    border-bottom: solid 4px;
    height: 22px;
}

header .kad-header-left {
    position: absolute;
    width: 110px;
    left: 75px;
    padding: 0px;
    z-index: 999;
}



/* -------------------------------- LOGO -------------------------------------------*/
header.headerclass > .container { position: relative; }
nav#nav-main {
    margin-top: 0px !important;
    margin-bottom:0px;
    padding-bottom: 14px;
}

/* -------------------------------- Selector de ciudad ------------------------------------------------ */
#nav-main form.seleccion-ciudades {
    float: right;
    max-width: 200px;
    padding: .4em 1.5em;
    background-color: #8a0019;
    //text properties
    font-size: 11px;

    .ui.selection.dropdown {
        min-height: 2em;
        padding: .4em 2.6em .4em 1em;
        border-radius: 0;
    }
}

/* -------------------------------- Header topbar dos ------------------------------------------------ */
.topbardos { clear: both; }

.topbardos:before,
.topbardos:after {
    content: " ";
    display: table;
}
.topbardos:after {
    clear: both;
}

.topbardos .contenedor-info { margin-left: 20%; }

.topbardos .popup-info {
    position: relative;
    float: left;
}

.topbardos .popup-info:hover .despliegue-info { display: block; }

.topbardos .popup-info span {
    display: block;
    cursor: pointer;
    padding: 10px 60px;
    font-size: 11px;
}

.topbardos .popup-info::before {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    left: 30px;
    top: 11px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.topbardos .popup-info .despliegue-info {
    position: absolute;
    display: none;
    width: 200px;
    top: 100%;
    left: 60px;
    padding: 10px;

    background-color: rgb(247, 247, 247);

    font-size: 10px;
    color: black;

    z-index: 9999;
}

.topbardos .compra-segura::before { background-image: url(Imagenes/icono-star.png); }
.topbardos .productos-exclusivos::before { background-image: url(Imagenes/icono-trofeo.png); }



@media (max-width : 1024px) {

    .topbardos{
        display: none !important;
        visibility: hidden !important;
    }
    .home-margin{
        padding-top: 0;
    }

    .homecontent .row .col-md-8 .cat-title h2{
        padding: 0 10px;
    }

    .homecontent .row .col-md-8 .sharebe .shareaholic-canvas{
        display: inline-block;
        margin-top: 10px;
    }

    .homecontent .row .col-md-4{
        display: none;
        visibility: hidden;
    }
    .homecontent .row .col-md-6 .video-home{
        display: inline;
    }



}
