/* ============================================================
Single product
=============================================================== */
.single-product .product_image img {
    width: 100%;
    height: auto;
}

.single-product .cat_back_btn { display: none; visibility: hidden; }
/* structure
---------------------------------------------------- */
.single-product .product_header { border: none; }
.detalle-producto { padding-top: 95px; }

.single-product .single_add_to_cart_button {
    float: none;
    background-color: rgba(184, 0, 31, 1);
}
.single-product .single_add_to_cart_button:hover { background: #74252d; color: white; }

.single-product div.product .product_image {
    -webkit-transform: translate(0,-18%);
    -moz-transform: translate(0,-18%);
    -ms-transform: translate(0,-18%);
    -o-transform: translate(0,-18%);
    transform: translate(0,-18%);
}

.single-product div.product form.cart div.quantity { float: none; }

.single-product .woocommerce-message.success {
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    border: none;
    line-height: normal;
    clear: both;
}
/* clearfix - limpia los floats */
.single-product .woocommerce-message.success:before,
.single-product .woocommerce-message.success:after {
    content: " ";
    display: table;
}
.single-product .woocommerce-message.success:after {
    clear: both;
}

.single-product .woocommerce-message-left,
.single-product .woocommerce-message-right {
    width: 49.5%;
    height: 130px;
    float: left;
}

/* Single product - Mensajes LEFT COL
---------------------------------------------------- */
.single-product .woocommerce-message-left {
    position: relative;
    margin-right: 1%;
    background-color: #F6F9F9;
}

.single-product .woocommerce-message-left img {
    float: left;
    width: 45px;
    height: auto;
    margin: 0 30px;
}

.single-product .woocommerce-message-left span.text_confirm {
    position: absolute;
    left: 105px;
    top: 10px;
    font-size: 18px;
    font-weight: 800;
    color: #349500;
}

.single-product .woocommerce-message-left span.title_product {
    display: block;
    padding-top: 60px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}

.single-product .woocommerce-message-left p.price {
    font-weight: 600;
    color: #c00014;
}

/* Single product - Mensajes RIGHT COL
---------------------------------------------------- */
.single-product .woocommerce-message-right {
    padding: 20px;
    border: 1px solid #cecece;
    background-color: #edf4f4;
    position: relative;
}

.single-product .woocommerce-message-right header .subtotal-mensaje-heading {
    padding-bottom: 7px;
    line-height: 14px;
    font-weight: 800;
    font-size: 24px;
}

.single-product .woocommerce-message-right header .subtotal-mensaje-heading .subtotal { color: black; }
.single-product .woocommerce-message-right header .subtotal-mensaje-heading .precio { color: #c00014; }

.single-product .woocommerce-message-right header .subtotal-mensaje-items {
    font-size: 14px;
    color: black;
}
.single-product .woocommerce-message-right header .subtotal-mensaje-items span { font-weight: 800; }

.single-product .woocommerce-message-right footer .copy {
    max-width: 120px;
    margin-top: 21px;
    line-height: 12px;
    font-weight: 700;
    font-size: 11px;
    color: #4f7373;
}

.single-product .woocommerce-message-right footer .wc-message-botones {
    position: absolute;
    display: inline-block;
    right: 20px;
    bottom: 20px;
}

.single-product .woocommerce-message-right footer .boton-tienda {
    float: right;
    margin-right: 10px;
    border: 1px solid #5b8585;
    background-color: #8ebbbb;
    font-weight: 800;
}

.single-product .woocommerce-message-right footer .boton-comprar,.woocommerce-message-right .buy {
    float: right;
    border: 1px solid #6a0603;
    background-color: #c00014;
    font-weight: 800;
}

.single-product .woocommerce-message-right footer .boton-tienda a,
.single-product .woocommerce-message-right footer .boton-comprar a {
    display: block;
    padding: 5px 20px 6px;
    font-size: 13px;
    color: white;
}

/* Single product - commons
---------------------------------------------------- */
/*.single-product .informacion-de-producto { width: 54%; }*/
.single-product .summary {
    margin-bottom: 0;
    border: none;
}

/* Single product - titulo de producto
---------------------------------------------------- */
.single-product div.product .product_title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 33px;
    color: black;
}

.single-product .product_category_title a { font-size: 24px; color: black; }

.single-product .product_category_title a:hover,
.single-product .product_category_title a:active { color: black; }

/* Single product - Precio
---------------------------------------------------- */
.single-product .texto_compra {
    padding-top: 30px;
}

.single-product .summary .precio-text {
    padding-top: 25px;
    font-weight: 800;
}

.single-product .summary .price { margin: 0; }

.single-product .summary .price span {
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.single-product .summary .price del span {
    font-weight: 400;
    font-size: 18px;
}

.single-product .precio-texto {
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 18px;
}

/* Single product - Shipping
---------------------------------------------------- */
.woocommerce div.product form.cart .variations td.label {
    vertical-align: middle;
    padding-top: 2px;
}

/* Single product - boton añadir al carrito
---------------------------------------------------- */
.single-product div.product form.cart button.single_add_to_cart_button {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: rgba(184, 0, 31, 1);
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.single-product div.product form.cart button.single_add_to_cart_button:hover { background-color: #800116; }

/* Single product - producto meta
---------------------------------------------------- */
.single-product div.product .product_meta {
    margin-top: 0;
    padding-top: 6px;
    border: none;
    line-height: 17px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.single-product div.product .product_meta a {
    text-transform: uppercase;
    color: black;
}
/* tabs */
.single-product .woocommerce-tabs {}

.single-product #content div.product .woocommerce-tabs ul.tabs { padding-left: 0; }

.single-product #content div.product .woocommerce-tabs ul.tabs li { background-color: #e0e0e0; }

.single-product #content div.product .woocommerce-tabs ul.tabs li a {
    text-transform: uppercase;
    font-weight: 400;
}

/* panel */
.single-product #content div.product .woocommerce-tabs .panel {
    font-weight: 600;
    color: black;
}

/*
Tabs
-------------------------------------- */
.woocommerce-tabs {
    width: 46%;
    float: left;
    clear: none !important;
}

.description_tab {
    background:  #ddd !important;
    color: rgb(121, 121, 121);
}

li.active{
    background: rgb(221, 221, 221);
    color: rgb(121, 121, 121);
}

.single-product .woocommerce-tabs li.additional_information_tab {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -10000;
}
/*pop up descuentos*/
.single-product .woocommerce-message-footer{
        height: auto;
        display: inline-block;
        width: auto;
        min-width: 750px;
        position: relative;
        .cross-sells {
        .woocommerce-message-left{
            height: auto;
            width: 100%;
            margin-top: 10px;
            padding-bottom: 40px;    
            padding-top: 10px;        
            span.title_product {
                position: relative;
                font-size: 18px;
                font-weight: 800;
                color: #B7001E;
                padding-top: 0;
                &:before{
                    content: "";
                    background-image: url('../../Imagenes/promo.svg');
                    width: 26px;
                    height: 26px;
                    position: relative;
                    display: inline-block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-right: 5px;
                    top: 6px;
                }
            }
            a:hover {
                cursor: pointer;
                text-decoration: none;
                color: #000;
            }
            p {
                line-height: 15px;
                font-weight: 700;
            }
            .product_details {
                margin-top: 0;
                .cat_producto {
                    color: #000;
                    font-size: 20px;
                }
                .cat_producto, .precio-producto{
                    text-transform: uppercase;
                    font-weight: 800;
                }
                .precio-producto{
                    padding-right: 25px;
                    margin-top: -8px;
                    font-size: 18px;
                    span {font-size: 20px;}
                }

            }

        }
        .woocommerce-message-right{
            background-color: transparent;
            border: none;
            width: auto;
            padding: 0; 
            bottom: 10px;
            left: 102px;
            height: auto;   
            position: absolute;
            .buy a{
                background: transparent;
                padding: 5px 20px 6px;
            }
            .buy:nth-child(2){
                    margin: 0 15px 0 0;
            }





            a.added_to_cart {
                width: 150px;
                text-align: center;
                background: #8EBBBB;
                color: #fff;
                border: solid #5B8585 1px;
                /* height: 40px; */
                line-height: 20px;
                height: auto;
                left: 290px;
                top: 30px;
            }
        }

    }
} 




@media (max-width : 1024px) {    
    /* interna producto - mensaje */
    .single-product .woocommerce-message.success { height: auto;}

    .single-product .woocommerce-message-left,
    .single-product .woocommerce-message-right {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .single-product .woocommerce-message-left {
        height: 110px;
    }

    .single-product .woocommerce-message-left img {
        width: 35px;
        margin: 0 25px;
    }

    .single-product .woocommerce-message-left span.text_confirm {
        left: 85px;
        font-size: 16px;
    }

    .single-product .woocommerce-message-left span.title_product {
        padding-top: 40px;
        font-size: 16px;
    }

    .single-product .woocommerce-message-right { /* right panel */
        height: auto;
        padding: 15px;
    }

    .single-product .woocommerce-message-right header .subtotal-mensaje-heading {
        font-size: 21px;
    }

    .single-product .woocommerce-message-right header .subtotal-mensaje-items {
        font-size: 13px;
    }

    .single-product .woocommerce-message-right footer .wc-message-botones:before,
    .single-product .woocommerce-message-right footer .wc-message-botones:after {
        content: " ";
        display: table;
    }
    .single-product .woocommerce-message-right footer .wc-message-botones:after {
        clear: both;
    }

    .single-product .woocommerce-message-right footer .wc-message-botones {
        position: static;
        display: block;
        padding-top: 15px;
    }

    .single-product .woocommerce-message-right footer .boton-tienda a,
    .single-product .woocommerce-message-right footer .boton-comprar a {
        padding: 7px 14px 8px;
    }

    /* interna producto */
    .single-product .rowtight {
        margin-left: 0;
        margin-right: 0;
    }

    .single-product .nav.breadcrumbs { margin: 0; }

    .bc-contenedor { font-size: 10px; }

    .single-product .product_header { display: none; }

    .detalle-producto { padding-top: 30px; }

    .single-product .row.content_shop,
    .single-product div.product .woocommerce-tabs,
    .single-product .related.products {
        position: relative;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .single-product .row.content_shop { padding-bottom: 30px; }

    .single-product div.product .woocommerce-tabs { padding-left: 15px; padding-right: 15px; }

    div.product .woocommerce-tabs ul.tabs li { width: 50%; }

    .related.products .shopfullwidth .kad_product { width: 100%; }

    .single-product .product-img-case {
        padding-right: 0;
        padding-left: 0;
    }
    .single-product div.product .product_image {
        -webkit-transform: translate(0,-6%);
        -moz-transform: translate(0,-6%);
        -ms-transform: translate(0,-6%);
        -o-transform: translate(0,-6%);
        transform: translate(0,-6%);
    }

    .single-product .product-summary-case {
        padding-left: 5px;
    }
    .single-product div.product .product_title {
        font-size: 24px;
        line-height: 22px;
    }

    .single-product .product_category_title a { font-size: 15px; }

    .single-product .summary .price {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .single-product .summary .price span { font-size: 20px; }
    .single-product .precio-texto { font-size: 12px; }

    .single-product div.product form.cart button.kad_add_to_cart.button,
    .single_add_to_cart_button {
        display: block;
        width: 100%;
        margin-top: 25px;
        padding: 2px 5px;
        font-size: 14px;
        max-width: 300px;
    }

    .single-product #content div.product form.cart {
        margin-bottom: 15px;
    }

    .single-product div.product .product_meta { font-size: 10px; }

    .single-product .related.products > h2 { padding-left: 15px; }
    div.product form.cart .variations select { width: 100%}


.single-product .woocommerce-message-footer{
        min-width: 100%;
        .woocommerce-message-left {
            padding-bottom: 50px !important;
        }
        .woocommerce-message-right{
            left: 84px !important;
        }
} 



}
/*solo para tablets*/
@media (min-width : 480px) and (max-width : 1024px) {
  .product-summary-case .entry-summary { margin-top: 50px; }
}
/*solo para moviles*/
@media (max-width : 767px) {
    .single-product div.product form.cart button.single_add_to_cart_button {
      padding: 15px 10px;
      font-size: 14px;
  }
  
.single-product .woocommerce-message-footer{

        .woocommerce-message-left{
                padding-left: 15px;
                padding-right: 15px;
                height: 250px;           
            }
        .woocommerce-message-right {
                left: 14px !important;
        }
    } 

}
