header.cat-23 .kad-header-right #menu-principal li.menu-destacados a::before,
header.cat-19 .kad-header-right #menu-principal li.menu-consumo a::before,
header.cat-1 .kad-header-right #menu-principal li.menu-estilo-de-vida a::before,
header.cat-24 .kad-header-right #menu-principal li.menu-planes-barman-club a::before { /* planes barman */
  opacity: 1;
  border-top: 4px solid white;
}
header .wrap-menu-barman nav#nav-second {
  border-top: 1px solid #C01D40;
}
header #menu-principal.sf-menu {
  position: relative;
  display: block;
  float: none;
  width: auto;
  margin-left: -40px;
  margin-right: -40px;
  padding: 0 !important;
}
header #menu-principal::before,
header #menu-principal::after {
  content: " ";
  display: table;
}
header #menu-principal::after {
  clear: both;
}
header .kad-header-right {
  width: 76%;
  margin-left: 24%;
}
header .kad-header-right ul#menu-header-menu{
  background-color: #8c0017;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: right;
  height: 36px;
}
header .kad-header-right #menu-principal li.menu-tienda {
  float: right;
  margin-right: 39px;
}
header .kad-header-right #menu-principal li { width: auto; margin: 0 12px; }
header .kad-header-right #menu-principal li a {
  position: relative;
  padding: 20px 40.5px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: white;
  z-index: 3;
}
header .kad-header-right #menu-principal li.menu-tienda a {
  width: 100px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 30px;
}
header .kad-header-right #menu-principal li a::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 0px solid white;
  opacity: 0;
  background: black;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  z-index: 0;
}
header .kad-header-right #menu-principal li.current-menu-item a::before {
  opacity: 1;
  border-top: 4px solid white;
}
header .kad-header-right #menu-principal li.menu-estilo-de-vida a::before {
  left: initial;
  right: 0;
  width: 145px;
}
header .kad-header-right #menu-principal li a:hover { color: white; }
header .kad-header-right #menu-principal li a:hover::before {  opacity: 1; border-top: 4px solid white;}
header .kad-header-right #menu-principal li.current-menu-item.menu-tienda a:hover::before { opacity: 0; }
.woocommerce-checkout header .kad-header-right #menu-principal li.menu-tienda a::after {
  //,header .kad-header-right #menu-principal li.current-menu-item a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(99,99,99); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(99,99,99,1) 0%, rgba(43,43,43,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,99,99,1)), color-stop(100%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(43,43,43,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(43,43,43,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(99,99,99,1) 0%,rgba(43,43,43,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(99,99,99,1) 0%,rgba(43,43,43,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
  opacity: .95;
}

/**
* Boton tienda
*/
header .kad-header-right #menu-principal li.menu-tienda {
  float: right;
  margin-right: 39px;
}

header .kad-header-right #menu-principal li.menu-tienda a,
header .kad-header-right #menu-principal li.menu-tienda a:hover {
  position: relative;
  color: #B7001F;
}

header .kad-header-right #menu-principal li.menu-tienda a::after,
header .kad-header-right #menu-principal li.menu-tienda.current-menu-item a::after,
.woocommerce-checkout header .kad-header-right #menu-principal li.menu-tienda a::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  width: 120px;
  height: 50px;
  background-image: url(images/boton-tienda.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

@media (max-width : 1024px) {
  #kad-mobile-nav{
    position: absolute;
  }
  #kad-mobile-nav{
    z-index: 99999;
    width: 60%;
    right: 0px;
    top: 84px;
  }
  #menu-moviles{
    padding: 0px;
  }
  #menu-moviles li{
    background: #b8001f;
    margin: 2px 0px;
    text-align: center;
  }
  #menu-moviles li:hover{
    background: #750013;
  }
  #menu-moviles li a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
  }
}

@media (min-width: 1025px) {

  .wide #wrapper.container { min-width: 767px; }
  .container { /*width: 1170px;*/ }

  /* menu
  -------------------- */

  #mobile-nav-trigger,
  #kad-mobile-nav { display: none; }

  #nav-main #menu-extra-menu { display: block; }

  /* grid
  -------------------- */

  .col-md-8,
  .col-md-4 { float: left; }

  .col-md-8 { width: 66.66666666666666%; }
  .col-md-4 { width: 33.33333333333333%; }
}


@media (max-width : 1024px) {

  /* menu
  ------------------------------------- */
  #mobile-nav-trigger,
  #kad-mobile-nav { display: block; }

  #nav-main #menu-extra-menu { display: none; }


  /*---- Header - menu ------*/

  .wrap-menu-barman { display: none; visibility: hidden; }

  .nav-trigger-case .kad-menu-name { color: rgb(168, 0, 28) !important; }

  header .kad-header-left {
    width: 90px;
    left: 0;
  }

  header.banner section#topbar:before,
  header.banner section#topbar:after {
    content: " ";
    display: table;
  }
  header.banner section#topbar:after {
    clear: both;
  }

  header.banner section#topbar .container {
    padding: 0;
  }

  #logo {
    padding: 0px;
  }

  #logo img {
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8);
  }

  /* movile nav ----- */
  #kad-mobile-nav{
    position: absolute;
  }
  #kad-mobile-nav{
    z-index: 99999;
    width: 60%;
    right: 0px;
    top: 84px;
  }
  #menu-moviles{
    padding: 0px;
  }
  #menu-moviles li{
    background: #b8001f;
    margin: 2px 0px;
    text-align: center;
  }
  #menu-moviles li:hover{
    background: #750013;
  }
  #menu-moviles li a{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
  }

}

@media (min-width:996px) and (max-width: 1170px)   {
  header .kad-header-right #menu-principal li a{
    padding: 20px 20px 5px 0;
  }
}
