.woocommerce-page .wrap-cat-product { border-bottom: 1px solid black; }
.woocommerce-page .wrap-cat-product .categoria-producto {
    float: left;
}
.woocommerce-page .wrap-cat-product .categoria-producto a:hover { color: black; }
.woocommerce-page .wrap-cat-product .categoria-producto figure { position: relative; min-height: 40px; }
.woocommerce-page .wrap-cat-product .categoria-producto .nombre-categoria {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;

    text-align: center;

    cursor: pointer;
}
.woocommerce-page .wrap-cat-product .categoria-producto img { width: 100%; height: auto; }
.woocommerce-page .wrap-cat-product .categoria-producto.cat-current .nombre-categoria {
    background: rgba(0,0,0,0.85);
    color: white;
}

/* Landing de producto
=============================================================== */
.lo-ultimo {
    -webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
}

.lo-ultimo .kad_product {
    overflow: hidden;
    position: relative;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.lo-ultimo .kad_product.fadeOut {
    width: 0;
    opacity: 0.75;
    z-index: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}





@media (max-width : 1024px) {

.woocommerce-page .wrap-cat-product{
        text-align: center;
    }
    .woocommerce-page .wrap-cat-product .categoria-producto{
        display: inline-block;
        float: none;
    }

    .woocommerce-page .wrap-cat-product .categoria-producto .nombre-categoria {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 11px;
    }

    .woocommerce-page .main > #product_wrapper { margin-left: 0; margin-right: 0; }

    .lo-ultimo .kad_product {
        padding-left: 0;
        padding-right: 0;
    }

    .shopfullwidth .kad_product{
        width: 100%;
    }
    .woocommerce-page #product_wrapper .kad_product .grupo-img-cart{
        margin-bottom: 12px;
    }
    .woocommerce-page #product_wrapper .kad_product img{
        width: 30%;
        margin-bottom: 30px;
    }
    }

/*Boton realizar pedido*/
#payment #place_order,
#payment input[type="submit"].button,
.woocommerce-page input[type="submit"] {
    background-color: rgba(184, 0, 31, 1);
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

#payment #place_order:hover,
input[type="submit"].button:hover { background: #74252d; }
