.mesajes-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    background-color: rgba(0,0,0,0.7);
}

.mesajes-wrap .overlay-mensajes {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mesajes-wrap .mensajes {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    padding: 15px;
    border-radius: 3px;
    background-color: white;
}
