/* 	formulario de registro,
letra mas pequeña para no dañar el diseño
-------------------------------------------------------------------------- */
.home .mensajeantes {
    font-size: 13px;
    line-height: 16px;
}
.home .cleanlogin-container input[type="text"],
.home .cleanlogin-container input[type="password"],
.home .cleanlogin-container input[type="email"] {
    height: 35px;
}
/*
.home #register_password1 {
    margin-top: 21px;
}*/
.home #register_password1,
.home #register_password2 {
    width: 49%;
}

.home #register_password1 input,
.home #register_password2 input {
    font-size: 11px;
}

.home #register_password1 { float: left; }
.home #register_password2 { float: right; }

.home .cleanlogin-full-width #register_terminos,
.home .cleanlogin-full-width #register_derechos {
    line-height: 12px;
}

.home .cleanlogin-full-width #register_terminos {
    clear: both;
}

.home .cleanlogin-full-width .checkbox { font-size: 10px; }


/* ============ Registro Lateral ==============*/
.cleanlogin-container {
    margin: 0 auto;
    width: 100%;
    float:left;
    height: auto;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    padding: 26px 24px 36px;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    background-color: #f9fbfb;
}
.cleanlogin-container fieldset {
    border-width: 0;
    border-color: inherit;
    padding: 0;
    margin: 0;
}
.cleanlogin-container h4 {
    margin-top: 0;
    text-align: left;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}
.cleanlogin-container h4 > small{
    margin-top: 5px;
    font-size: 20px;
    font-style: italic;
    display: block;
}

.cleanlogin-full-width form fieldset {
    clear: both;
    margin-left: -5%;
    margin-bottom: 26px;
}
.cleanlogin-full-width form .cleanlogin-field {
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-bottom: 14.7px;
}
.cleanlogin-form,
.cleanlogin-preview {
    border-color: inherit;
    display: block;
    position: relative;
    width: 100%;
}
.cleanlogin-form label {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
}
.cleanlogin-field {
    background: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    border: solid #b6001e;
    cursor: pointer;
}
.cleanlogin-container input[type="text"],
.cleanlogin-container input[type="password"],
.cleanlogin-container input[type="email"],
.cleanlogin-container input[type="submit"] {
    height: 30px;
    padding: 4px 8px;
    width: 100%;
    margin-bottom: 0px;
    border: 1px solid #ddd;
}
.cleanlogin-container input[type="submit"] {
    display: block;
    width: 200px;
    height: 40px;
    margin: auto;
    background: #b6001e;
    font-weight: 800;
    color: white;
}
.cleanlogin-container button,
.cleanlogin-container input,
.cleanlogin-container select,
.cleanlogin-container textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cleanlogin-field-remember {
    float: left;
    text-align: right;
}
.cleanlogin-field-remember > label {
    display: inline;
}
.cleanlogin-field-username {
    background: url('../images/log.png') no-repeat;
    padding-left: 5px;
}
.cleanlogin-field-password {
    background: url('Imagenes/pwd.png') no-repeat;
    padding-left: 5px;
    font-size: 10px;
}
.cleanlogin-field-email {
    background: url('Imagenes/mail.png') no-repeat;
    padding-left: 36px;
}
.cleanlogin-field-spam {
    background: url('images/spam.png') no-repeat;
    padding-left: 36px;
}
.cleanlogin-preview-top {
    padding-bottom: 18px;
    height: auto;
}
.cleanlogin-preview-top h4 { margin-bottom: 0; }
.cleanlogin-form-bottom {
    padding-top: 6px;
    height: 24px;
}
.cleanlogin-form p.cleanlogin-form-description {
    color: #7c7c7c;
    font-size: 12px;
    font-size: 0.85714286rem;
    font-style: italic;
}
.cleanlogin-notification {
    clear: both;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    padding: 18px;
    margin-bottom: 18px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
.cleanlogin-notification > p {
    margin: 0px;
}
.cleanlogin-notification.success {
    background: #F0F2DD;
    border-color: #24890D;
    color: #24890D;
}
.cleanlogin-notification.error {
    background: #FFE7E7;
    border-color: #FF5656;
    color: #FF5656;
}
.cleanlogin-preview {
    border-color: inherit;
    text-align: left;
}
.cleanlogin-preview .avatar {
    border-radius: 5px;
    float: none;
    width: 128px;
    height: 128px;
    margin: 0 auto 24px auto;
}

.avatar.avatar-96.photo {
    /*margin: 0 auto;*/
    /*display: block;*/
    margin-bottom: 10px;
}
/* registro
---------------------------------------------------------- */
.mensajeantes{
    margin-left: 4%;
    margin-bottom: 20px;
}

.mensajeantes { margin-left: 0; }
.cleanlogin-full-width form fieldset { margin: 0; }
.cleanlogin-full-width form .cleanlogin-field {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 14.7px;
}

.cleanlogin-full-width .checkbox {
    display: inline;
    padding-left: 5px;
    font-weight: 700;
}

/* rergistro lateral*/

.login-form-checkout .cleanlogin-container {
    border: none;
    background-color: #f9fbfb;
}

.cleanlogin-container input[type="text"],
.cleanlogin-container input[type="password"],
.cleanlogin-container input[type="email"] {
    height: 40px;
    border-color: #c1c1c1;
    background-color: white;
    font-size: 14px;
}

.cleanlogin-container label { /* commons labels */
    padding-bottom: 5px;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    color: #535353;
}

.cleanlogin-field-remember label { /* checkbox recordar */
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: black;
}

.cleanlogin-form-pwd-link {
    font-size: 13px;
    color: black;
}

#register_button, /* Link registro */
#login_button { /* boton submit */
    background-color: #a60011;
    font-weight: 800;
}

#register_button { /* Link registro */
    display: inline-block;
    padding: 10px 52px;
    text-transform: uppercase;
    float: right;
    color: white;
}

/*ingresar*/
/*
.cleanlogin-field-remember {
    width: 39%;
}
*/

/*widget fecha de nacimiento*/
.ui-widget-header{
  color: black;
}

.formulario-registro-login input[type=text], 
.formulario-registro-login input[type=password] {
  height: 40px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 4px 8px;
  width: 100%;
  max-width: 500px;
}

.formulario-registro-login input[type="submit"]{
    background-color: #b8001f;
    text-align: center;
    float: right;
    color: white;
    width: 200px;
    height: 40px;
    //margin-right: 2em;
}

@media (max-width : 1024px){
  .cleanlogin-container { float: none;}
}