/* Single product - Producto Relacionados
---------------------------------------------------- */
.single-product .related.products { padding-top: 30px; }

/* clearfix - limpia los floats */
.single-product .related.products {
    clear: both;
}

.single-product .related.products:before,
.single-product .related.products:after {
    content: " ";
    display: table;
}
.single-product .related.products:after {
    clear: both;
}

.single-product .related.products > h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #868789;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}

.related.products .shopfullwidth .kad_product { width: 33.333333%; }

.related.products .shopfullwidth .kad_product > div {
    margin-left: 15px;
    margin-right: 15px;
}

.single-product #product_wrapper .kad_product a.add_to_cart_button {
    width: 100%;
    margin-left: -50%;
    padding: 15px 0;
    font-weight: 800;
    font-size: 16px;
}

.single-product #product_wrapper .kad_product .grupo-img-cart::after { opacity: 0; }

.single-product #product_wrapper .kad_product img { width: 35%; }


@media (max-width : 1024px) {
    .related-sidebar.col-md-4 .relacionados-sidebar{
        width: 50%;
        margin-left: 5px;
    }
    .related-sidebar.col-md-4 .relacionados-sidebar img{
        border: solid 1px #DDD;
    }
    .relacionados-sidebar .title{
        margin-top: 0px;
    }

    .related.products .shopfullwidth .kad_product { width: 100%; }

    body:not(.home) .contentclass .col-md-8{
        margin-top: 0px;
    }

    /*Desaparecer logos redes sociales*/
    .row .display-posts-listing img{
        height:auto;
    }
    .ssba img{
        position: relative;
        top: 13px;
        left: 59px;
        left: 16px;
        top: 2px;
    }
}
