// .wrap.contentclass{
// background-image: url(../../Imagenes/jameson/ABSOLUT_LANDING-PAGE.png);
// background-size: 100%;
// background-repeat: no-repeat;
// }

//  .home .wrap.contentclass{
//  background-image: url(../../Imagenes/ABSOLUT_LANDING.png);
//  background-size: 100%;
//  background-repeat: no-repeat;
//  }

// .banner-top-tienda{
//     display: none;
// }
// .homepagecontent {
//     padding-top: 10px;
// }

// .home .homepagecontent:before {
//     content: "";
//     height: 150px;
//     width: 100%;
//     display: block;
//     background-image: url(../../Imagenes/ABSOLUT.png);
//     background-size: contain;
//     padding: 0;
//     background-repeat: no-repeat;
//     background-position: 50%;
// }
//  .homecontent, .post #content, .contentclass .container > .row{
//      background-color: #fff;
//      position: relative;
//      z-index: 1;
//  }
// .toma-page{
//     position: relative;
//     z-index: 0;
//     padding: 0px 0 0;
//     img{
//         width: 100%;
//     }
//     .imagen-principal{
//         display: inline-block;
//         position: relative;
//         left: -15px;
//         float: none;
//         vertical-align: middle;
//         width: 54%;
//     }
//     .logo-pequeno{
//         display: inline-block;
//         width: 9%;
//         vertical-align: middle;
//         float: none;
//     }
//     .logo-toma{
//         display: inline-block;
//         width: 26%;
//         vertical-align: middle;
//         float: none;
//         padding-left: 25px;
//     }
//     @media(max-width: 768px){
//         padding: 10px;
//         .logo-pequeno,
//         .imagen-principal{
//             display: none;
//         }
//         .logo-toma{
//             width: 50%;
//             margin: 0 auto;
//             position: initial;
//             display: block;
//             padding: 0px 0 15px;
//         }
//     }
//     @media (max-width: 1024px) and (min-width: 767px){
//         .imagen-principal{
//             width: 54%;
//             top: 10px;
//         }
//     }
// }