body header.banner {
    padding-bottom: 27px;
    position: relative;
    background: #c00020;
    background: -moz-linear-gradient(top, #c00020 0%, #b0001d 46%, #c00020 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c00020), color-stop(46%, #b0001d), color-stop(100%, #c00020));
    background: -webkit-linear-gradient(top, #c00020 0%, #b0001d 46%, #c00020 100%);
    background: -o-linear-gradient(top, #c00020 0%, #b0001d 46%, #c00020 100%);
    background: -ms-linear-gradient(top, #c00020 0%, #b0001d 46%, #c00020 100%);
    background: linear-gradient(to bottom, #c00020 0%, #b0001d 46%, #c00020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c00020', endColorstr='#c00020', GradientType=0);
}
body header.banner:before {
    content: url('http://barmanclub.co/wp-content/themes/virtue_barman/assets/css/Imagenes/linea-header.png');
    /* background-image: url('Imagenes/linea_header.png'); */
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    border-bottom: solid 4px;
    height: 22px;    
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
header .kad-header-left {
    position: absolute;
    width: 110px;
    left: 75px;
    padding: 0px;
    z-index: 999;
}
header .kad-header-right {
    width: 76%;
    margin-left: 24%;
}
header .wrap-menu-barman nav#nav-second {
    border-top: 1px solid #C01D40;
}
header #menu-principal.sf-menu {
    position: relative;
    display: block;
    float: none;
    width: auto;
    margin-left: -40px;
    margin-right: -40px;
    padding: 0 !important;
    margin-bottom: 0;
}
header .kad-header-right #menu-principal li {
    width: auto;
    margin: 0 12px;
        display: inline-flex;
}
.sf-menu li {
    
    position: relative;
    background: 0 0;
    border-bottom: 0;
    padding: 0;
    line-height: normal;
    display: inline-block;
}
header .kad-header-right #menu-principal li a {
    position: relative;
    padding: 20px 40.5px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
    z-index: 3;
}
.sf-menu, .sf-menu * {
    list-style: none;
}
header .kad-header-right #menu-principal li.menu-tienda {
    float: right;
    margin-right: 39px;
}
header .kad-header-right #menu-principal li.menu-tienda a, header .kad-header-right #menu-principal li.menu-tienda a:hover {
    position: relative;
    color: #B7001F;
}
header .kad-header-right #menu-principal li.menu-tienda a {
    width: 100px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 30px;
}
header .kad-header-right #menu-principal li a::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 0px solid white;
    opacity: 0;
    background: black;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    z-index: 0;
}
header .kad-header-right #menu-principal li.menu-tienda a::after, header .kad-header-right #menu-principal li.menu-tienda.current-menu-item a::after, .woocommerce-checkout header .kad-header-right #menu-principal li.menu-tienda a::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: -35px;
    width: 120px;
    height: 50px;
    background-image: url(http://barmanclub.co/wp-content/themes/virtue_barman/assets/css/images/boton-tienda.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}
#nav-second ul.sf-menu>li:hover, #nav-second ul.sf-menu>li.active {
    background: #e2e2e2;
    background: rgba(0,0,0,.02);
}
header .kad-header-right #menu-principal li a:hover {
    color: white;
}
#nav-main {
    height: 46px;
}
.clearfix:before, .clearfix:after, .nav:before, .nav:after {
    content: " ";
    display: table;
}
header #menu-principal::before, header #menu-principal::after {
    content: " ";
    display: table;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.kad-mobile-nav .kad-nav-inner li a {
    float: none;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 7px 15px;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0,0,0,.02);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

/*menu mobil*/
@media (max-width: 1024px){
    #mobile-nav-trigger, #kad-mobile-nav {
        display: block;
    }

    .nav-trigger .nav-trigger-case {
        position: initial;
        background-color: transparent;
    }

    .nav-trigger-case .kad-navbtn {
        display: block;
        float: right;
        padding: 0 15px;
        margin-left: 0;
        margin-right: 0;
        font-size: 20px;
        line-height: 50px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        height: 20px;
    }

    .icon-reorder:before {
        
    }    
    .icon-reorder {
        width: 20px;
        height: 3px;
        background: #1B1314;
        display: block;
        position: relative;
    }
    .icon-reorder:before {
        content: "";
        width: 20px;
        height: 3px;
        background: #1B1314;
        display: block;
        position: relative;
        top: 7px;
    }
    .icon-reorder:after {
        content: "";
        width: 20px;
        height: 3px;
        background: #1B1314;
        display: block;
        position: relative;
        top: 11px;
    }    
.nav-trigger-case .kad-menu-name {
    color: #a8001c !important;
}    

#kad-mobile-nav {
    z-index: 99999;
    width: 60%;
    right: 0px;
    top: 84px;
}
.mobileclass {
    background: #f2f2f2;
    background: rgba(0,0,0,0.05);
}
.kad-nav-collapse {
    overflow: hidden;
    
    display: none;
    clear: both;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#menu-moviles {
    padding: 0px;
}
#menu-moviles li {
    background: #b8001f;
    margin: 2px 0px;
    text-align: center;
}
#menu-moviles li a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.wrap-menu-barman {
    display: none;
    visibility: hidden;
}

#logo img {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
#nav-main {
    height: 25px;
}
header .kad-header-left {
    /*width: 90px;*/
    left: 30px;
}
#kad-mobile-nav {
    position: absolute;
}
}
@media (min-width: 1025px){

#mobile-nav-trigger, #kad-mobile-nav {
    display: none;
}
.container {
    width: 1170px;
    max-width: 100%;
}
}
@media (max-width: 767px){

    header #thelogo {
        margin-left: auto;
        margin-right: auto;
    }
.container {
    width: auto;
    padding: 0 20px;
}
}